[Unit]
Description=docker compose container
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
User={{appuser}}
Group={{appgroup}}
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}
ExecStop={{service.execstop}}
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target